<div class="container">
  <h1>Welcome to the index of Lists</h1>
  <p>Check the list in here: </p>
  <%= cl_image_tag("https://res.cloudinary.com/dpoc03ecv/image/upload/v1653652232/gbzevdegc886huo2jjff.jpg",
      width: 400, height: 300, crop: :fill) %>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list %></li>
        <% if  list.photo.key %>
          <%= cl_image_tag list.photo.key, height: 200, width: 300, crop: :fill %>
          <% else %>
              <%= cl_image_tag("https://res.cloudinary.com/dpoc03ecv/image/upload/v1653652232/gbzevdegc886huo2jjff.jpg",
                width: 400, height: 300, crop: :fill) %>
        <% end %>
    <% end %>

  </ul>
  <br>
  <%= link_to "Create the link", new_list_path %>
  <br>
</div>
